body {
    font-family: "JetBrains Mono";
    margin: 0;
    padding: 0;
    color: #D8DBE2;
    background-color: #1c1c22 ;
  }
  
  nav ul {
    display: flex;
    gap: 1rem;
    list-style: none;
  }

